aiofiles
aiohttp==3.9.3         # CUTE old and new
asyncio==3.4.3         # CUTE old and  new
bard
beautifulsoup4
blackpink
deepai
pytube
dnspython==2.3.0       # CUTE old and new
ffmpeg-python
gitpython
hachoir
Faker
pydub
pycountry
pornhub-api==0.2.0
heroku3
lyricsgenius
apscheduler                
motor
opencv-python-headless==4.9.0.80
pillow==9.5.0
psutil
wget
pyfiglet
qrcode
pytz
future==0.18.3        # CUTE, SHUKLA 1.0.0, 
search_engine_parser
pyrogram==2.0.106
py-tgcalls==0.9.7
pykeyboard
pyshorteners
python-dotenv
pyyaml==6.0.1
pyfiglet
requests
emojis
speedtest-cli
spotipy
tgcrypto
telethon==1.33.1
telegraph==2.2.0
unidecode
yt-dlp
youtube_search
youtube-search-python
gtts
lexica-api==1.4.7
httpx==0.25.2           # CUTE, SHUKLA =>0.28.1
gpytranslate
openai==0.28.0
mpv
moviepy
python-telegram-bot==21.1.1
stripe==10.7.0
mysql-connector-python==9.0.0
telebot==0.0.5
youtube_dl==2021.12.17  # from SHUKLA
bing_image_downloader
bs4
cloudscraper
flask==2.2.2   #keep_alive         # CUTE
pymongo[srv]==3.12.3
kurigram
git+https://github.com/AsmSafone/SafoneAPI
SafoneAPI
async_pymongo #fed
deep_translator #chatbot

# BioLink / extras
regex
coloredlogs
aiosqlite
SQLAlchemy
